TELEGRAM_BOT_TOKEN=123456789:troque-pelo-token-do-bot
CHANNEL_ID=@seu_canal
AMAZON_TAG=seu-tag-20
# Pode ser uma query string completa, por exemplo: matt_tool=12345678&matt_word=hardware
ML_TAG=matt_tool=SEU_CODIGO

# Opcionais
# AMAZON_DEALS_URL=https://www.amazon.com.br/deals?node=16339926011
# ML_DEALS_URL=https://www.mercadolivre.com.br/ofertas/?cat=MLB421969&category=MLB1648
# DATA_FILE=./data/posted-deals.json
# RUN_ON_START=true
# PORT=10000
